#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ccc;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Style for the player input fields */
input[type="text"] {
  width: 32em; /* Adjust as needed */
  font-size: 14px; /* Adjust as needed */
  padding: 8px 12px; /* Vertical and horizontal padding */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 8px; /* Spacing between inputs */
  display: block; /* Make the inputs block elements so they take the full width */
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Hides any overflowing content */
  margin-bottom: 1em; /* Increased spacing between input fields */
  margin-right: 1em; /* Increased spacing between input fields */
}

/* Custom focus outline */
input[type="text"]:focus {
  outline: 2px solid #007bff; /* Blue outline */
}

/* Players Columns on Setup Game */

.players-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Design */
/* For screens smaller than 768px, stack the input fields */
@media (max-width: 768px) {
  .players-container {
    flex-direction: column; /* Stacks the child elements vertically */
  }
}
